{% extends "template.html" %}

{% block head %}
<title>Kaktus-Checker | Home</title>
{% endblock %}

{% block content %}
<section class="description">
    <p>Zapomínáš zkontrolovat operátora MujKaktus, zda má výhodnou slevu? Už se nemusíš bát, že něco propásneš. Jakmile se objeví nová sleva, pošleme ti email.</p>
</section>
<form action="/acc/register" method="post">
    <input type="email" id="email", name="email" placeholder="Tvá emailová adresa" required></input>
    <button type="submit" class="button"><i class="fa-solid fa-right-to-bracket"></i>&nbsp;Registrovat se</button>
</form>
<a class="link" href="/acc/cancel">Nechceš již dostávat emaily?</a>
{% endblock %}