<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind&display=swap" rel="stylesheet">

    <title>Kaktus-checker</title>
</head>
<body>
    <style>
        body {
    background-color: #fdd900;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
}

h2 {
    font-family: 'Hind', sans-serif;
    text-align: center;
    font-size: xx-large;
}

h3 { 
    font-family: 'Hind', sans-serif;
    text-align: center;
    font-size: x-large;
}

.button {
    color: #fdd900;
    height: 60px;
    width: 250px;
    background-color: black;
    font-size: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-family: 'Hind', sans-serif;    
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

.button:hover {
    color: #fdd900;
    height: 60px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.614);
    font-size: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-family: 'Hind', sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

.footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/
            height: 40px;
            background: black;
            color: white;
            font-family: 'Hind', sans-serif;
            text-align: center;
        }

input[type="email"] {
    height: 60px;
    width: 250px;
    background-color: white;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    cursor: pointer;
    font-family: 'Hind', sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

label {
    font-family: 'Hind', sans-serif;
    display: block;
    text-align: center;
    font-size: large;
}

    </style>
    <h2>Kaktus-Checker</h2>
    <h3>Zapomínáš zkontrolovat operátora MujKaktus, zda má výhodnou slevu? To se ti už nestane.</h3>
    <h3>Jakmile se objeví nová sleva pošleme ti email.</h3> 

    <form action="/" method="post">
        <label for="mail">Tvá emailová adresa</label>
        <input type="email" id="mail" name="mail" required>
        <button type="submit" class="button">Zaregistrovat email</button>
    </form>
    <footer>
               <div class="footer">Developed by <a href="https://github.com/DaneeSkripter">DaneeSkripter</a></div>
    </footer>
</body>
</html>