@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    background-image: url("/img/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infocontainer {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    background-color: #ffffff;
}

.description {
    text-align: center;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}
p {
    font-size: 20px;
    font-weight: 200;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

#email {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.button {
    background-color: #00916E;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    transition-duration: 0.4s;
    border: 2px solid #00916E;
}
.button:hover {
    background: none;
    color: #00916E;
}

.link {
    color: #00916E;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}